.git
.github
.gitignore

.venv
venv
__pycache__/
*.pyc
*.pyo
*.pyd

frontend/node_modules
frontend/.next
node_modules

data/raw
data/processed
data/tmp

logs
*.log

*.zip
*.tar
*.gz
*.7z

.env
.env.local
.env.production

dist
build

.DS_Store
