DB_HOST=postgres
DB_PORT=5432
DB_NAME=tfm
DB_USER=postgres
DB_PASSWORD=postgres
NEXT_PUBLIC_API_URL=http://localhost:3000/api/backend
ETL_SCHEDULE_CRON=0 3 1 * *
ETL_TIMEZONE=America/Costa_Rica
INTERNAL_ADMIN_TOKEN=change-this-long-random-token
ADMIN_PANEL_USER=admin
ADMIN_PANEL_PASSWORD=change-this-strong-password
